.hover-btn,
.btn {
  margin: 4em;
  padding: 3em;
  display: flex;
  width: fit-content;
  overflow: hidden;
  position: relative;
  border: 5px solid;
}
.hover-btn:before {
  content: "";
  background-color: yellow;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
}
.hover-btn:hover:before {
  transform: rotate(0deg);
}

.translateX::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  position: absolute;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 1s;
}
.translateX:hover::before {
  transform: translateX(0);
}
.RotateXAndY:after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
  position: absolute;
  z-index: -1;
  transition: 1s;
  transform: rotateY(90deg);
}
.RotateXAndY:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
  position: absolute;
  z-index: -1;
  transition: 1s;
  transform: rotateX(90deg);
}
.RotateXAndY:hover:before {
  transform: rotateX(0deg);
}
.RotateXAndY:hover:after {
  transform: rotateY(0deg);
}
.RotateAndTranslate::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: violet;
  position: absolute;
  z-index: -1;
  transition: 2s;
  transform: translateX(-100%) rotate(45deg);
}
.RotateAndTranslate:hover::before {
  transform: translateX(100%) rotate(45deg);
}
