.comingsoon {
  color: black;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  display: block;
  animation: nadned 2s linear infinite;
  animation-direction: alternate;
  transform-origin: top;
}
@keyframes nadned {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
.hover-btn,
.btn {
  margin: 4em;
  padding: 3em;
  display: flex;
  width: fit-content;
  overflow: hidden;
  position: relative;
  border: 5px solid;
}
.hover-btn:before {
  content: "";
  background-color: yellow;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
}
.hover-btn:hover:before {
  transform: rotate(0deg);
}

.translateX::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  position: absolute;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 1s;
}
.translateX:hover::before {
  transform: translateX(0);
}
.RotateXAndY:after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
  position: absolute;
  z-index: -1;
  transition: 1s;
  transform: rotateY(90deg);
}
.RotateXAndY:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
  position: absolute;
  z-index: -1;
  transition: 1s;
  transform: rotateX(90deg);
}
.RotateXAndY:hover:before {
  transform: rotateX(0deg);
}
.RotateXAndY:hover:after {
  transform: rotateY(0deg);
}
.RotateAndTranslate::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: violet;
  position: absolute;
  z-index: -1;
  transition: 2s;
  transform: translateX(-100%) rotate(45deg);
}
.RotateAndTranslate:hover::before {
  transform: translateX(100%) rotate(45deg);
}
.TranslateAfterAndBefore::before {
  content: "Before";
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  transition: all 0.4s;
}

.TranslateAfterAndBefore:after {
  content: "After";
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  transition: all 0.4s;
  transform: translate(-100%, 100%);
}
.TranslateAfterAndBefore:hover::before {
  transform: translate(100%, -100%);
}
.TranslateAfterAndBefore:hover::after {
  transform: translate(0, 0);
}
.borderAfterAndBefore {
  border: 0;
  transition: all 0.5s;
}
.borderAfterAndBefore::after {
  top: 0;
  content: "";
  right: 0;
  position: absolute;
  width: 12px;
  height: 12px;
  border: 3px solid coral;
  border-width: 2px 2px 0 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}
.borderAfterAndBefore::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 12px;
  height: 12px;
  border: 3px solid coral;
  border-width: 0 0 2px 2px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}
.borderAfterAndBefore:hover::after,
.borderAfterAndBefore:hover::before {
  opacity: 1;
}
